# EditorConfig helps maintain consistent coding styles
root = true

# Default for all files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

# Python files
[*.py]
indent_size = 4

# Markdown files
[*.md]
trim_trailing_whitespace = false  # allow deliberate trailing spaces
indent_size = 2

# YAML files
[*.yml]
indent_size = 2

[*.yaml]
indent_size = 2

# JSON files
[*.json]
indent_size = 2

# Shell scripts
[*.sh]
indent_style = space
indent_size = 2

