certifi
charset-normalizer==3.0.1
contourpy==1.0.7
cycler==0.11.0
efficientnet-pytorch==0.7.1
filelock==3.9.0
fonttools==4.38.0
huggingface-hub==0.12.0
idna==3.4
imageio==2.25.1
Jinja2==3.1.2
joblib==1.2.0
kiwisolver==1.4.4
MarkupSafe==2.1.2
matplotlib==3.6.3
munch==2.5.0
networkx==2.8.8
numpy==1.24.1
opencv-python==4.7.0.68
packaging==23.0
pandas==1.5.3
Pillow==9.4.0
pretrainedmodels==0.7.4
psutil==5.9.4
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.7.1
PyWavelets==1.4.1
requests==2.28.2
scikit-image==0.19.3
scikit-learn==1.2.1
scipy==1.10.0
segmentation-models-pytorch==0.3.2
six==1.16.0
threadpoolctl==3.1.0
tifffile==2023.2.3
timm==0.6.12
torch
torchmetrics==0.11.1
torchvision==0.14.1
tqdm==4.64.1
typing_extensions==4.4.0
urllib3==1.26.14
